#header{
	text-align: center;
}

#here{
	color:#9933ff;
	font-family: sans-serif;
	font-size: 25px;
	background-color: #ffffff;
	border: 1.5px solid #9933FF;
}

#there{
	color: white;
	font-family: sans-serif;
	font-size: 25px;
	background-color: #9933FF;
	border: 1.5px solid white;
}

.jumbotron{
	background-color: #9933ff;
	color: white;
}